[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=/home/andy
Type=simple
ExecStart=<path to kanata> --cfg <path to config.kbd>
Restart=no

[Install]
WantedBy=default.target
